body {
  /*background-color: rgb(255, 255, 255)*/
  background: url(./img/condensadores.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.borde {
  box-shadow: 0px 6px 6px rgb(39, 39, 39);
  border-radius: 15px;
}
.bg-blank {
  background-color: rgb(255, 255, 255);
}

.bg-pru {
  background-color: rgba(56, 80, 46, 0.9);
  color: rgb(255, 255, 255);
}

a:link {
  color: rgb(14, 200, 247);
}

a:visited {
  color: rgb(14, 200, 247);
}